@custom-variant dark (&:where(
    [data-mode='dark'],
    [data-mode='dark'] *,
    .dark,
    .dark *,
    [data-mantine-color-scheme='dark'],
    [data-mantine-color-scheme='dark'] *
  )
);

:root {
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-mode='light']):not(.light):not([data-mantine-color-scheme='light']) {
    color-scheme: dark;
  }
}

:root:is([data-mode='dark'], .dark, [data-mantine-color-scheme='dark']) {
  color-scheme: dark;
}
