:root {
  --typo-base--font-family: var(--font-sans);
  --typo-base--color-light: var(--ds-fg);
  --typo-base--color-dark: var(--ds-fg);

  --typo-heading--font-family: var(--font-sans);
  --typo-heading--color-light: var(--ds-fg);
  --typo-heading--color-dark: var(--ds-fg);

  --typo-anchor--font-family: var(--font-sans);
  --typo-anchor--color-light: var(--ds-accent);
  --typo-anchor--color-dark: var(--ds-accent);

  --typo-mono--font-family: var(--font-mono);
  --typo-mono--color-light: var(--ds-fg);
  --typo-mono--color-dark: var(--ds-fg);

  --radius-base: var(--radius-md);
  --radius-container: var(--radius-xl);
  --corner-shape-base: rounded;
  --corner-shape-container: rounded;

  --default-border-width: 1px;
  --default-ring-width: 2px;
  --default-outline-width: 2px;
}
